.product-page__info {
    background-color: white;
    height: 75vh;
    padding-left: 100px;
}

.product-page__img {
    width: 400px;
    height: 400px;
}

.product-page__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
}

.product-page__price {
    color: #FF4A32;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-page__body {
    font-size: 20px;
    background-color: #E0E3E8;
    margin-top: 0;
    border-radius: 10px;
    width: 1000px;
    padding: 10px;
}

/*.slider {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    overflow: hidden;*/
/*}*/

/*.middle {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%; -50%);*/
/*}*/

/*.navigation {*/
/*    position: absolute;*/
/*    bottom: 16px;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*    display: flex;*/
/*    opacity: 0;*/
/*}*/

/*.bar {*/
/*    height: 8px;*/
/*    width: 30px;*/
/*    margin: 6px;*/
/*    cursor: pointer;*/
/*    background-color: #ddd;*/
/*    opacity: 0.7;*/
/*    border-radius: 10px;*/
/*    transition: all 0.4s ease;*/
/*}*/

/*.bar:hover {*/
/*    opacity: 0.8;*/
/*    transform: scale(1.1);*/
/*}*/

/*.input[name="r"] {*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*}*/

/*.slides {*/
/*    width: 400%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*}*/

/*.slide {*/
/*    width: 25%;*/
/*    transition: all 0.6s ease;*/
/*}*/

/*.slide img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#r1:checked ~ .s1 {*/
/*    margin-left: 0;*/
/*}*/

/*#r2:checked ~ .s1 {*/
/*    margin-left: -25%;*/
/*}*/

/*#r3:checked ~ .s1 {*/
/*    margin-left: -50%;*/
/*}*/

/*#r4:checked ~ .s1 {*/
/*    margin-left: -75%;*/
/*}*/