li {
	font-weight: 500; 
	font-size: 2rem;
	list-style-type: none;
	margin-left: 1.3em;
    margin-right: 1.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

body {
	position: relative;
	background: #3d3d3d;
	font-family: sans-serif;
	margin: 0;
}

.container {
	font-weight: 800;
	margin-top: 150px;
	border-radius: 15px;
	margin-left: 500px;
    padding-right: 50px;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	background: #292929;
	display: flex;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    font-weight: bold;
    padding-left: 40px;
}

.header-link {
	display: flex;
    color: #4f4f4f;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    line-height: 50px;
    color: white;
    padding-left: 0;
}

.square {
	position: fixed;
	top: 150px;
	margin: 0;
	width: 30%;
	height: 60%;
	margin-left: 50px;
	background: #7a7a7a;
	border-radius: 15px;
	min-height: 400px;
	min-width: 300px;
	max-width: 400px;
}

.square__inner-title {
	font-weight: 700;
	color: #FFFFFF;
	font-size: 2rem;
}

.square__inner {
	padding: 5px;
	text-align: center;
	position: relative;
}

.square__inner-links {
    margin: 0;
    padding: 0;
}

.square__inner-link {
	padding: 15px;
}

.block {
	height: 100%;
	padding-left: 10px;
	border-radius: 15px;
	background: #e8c8c8;
	margin: 10px 0;
	width: 100%;
	min-width: 150px;
}

.block_sticky_1 {
	border-radius: 15px;
	position: sticky;
	background: #ff7d7d;
	top: 150px;
	padding-left: 10px;
	min-width: 150px;
}

.block_sticky_2 {
	border-radius: 15px;
	position: sticky;
	background: #887dff;
	top: 150px;
	padding-left: 10px;
	min-width: 150px;
}

.block_sticky_3 {
	border-radius: 15px;
	position: sticky;
	background: #7dff99;
	top: 150px;
	padding-left: 10px;
	min-width: 150px;
}

.block_sticky_4 {
	border-radius: 15px;
	position: sticky;
	background: #eeff7d;
	top: 150px;
	padding-left: 10px;
	min-width: 150px;
}