.footer__container {
    position: relative;
}

.welcome-page__block {
    /*position: absolute;*/
    width: 100vw;
    height: 83px;
    background: #000000;
    display: flex;
    justify-content: center;
}

.welcome-page__block-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer__block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F7F7F7;
    color: #000000;
}